body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #be0e86;
}
.App {
  width: 700px;
  border: 10px inset rgb(181, 136, 25);
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
}
#pic {
  float: left;
  padding: 15px 10px 0 0;
}